table {
    margin: 35px auto;
    border: 3px solid rgb(32, 49, 73);
    border-collapse: separate;
    table-layout: fixed;
}

tr, td {
    background-color: rgb(150, 139, 139);
    table-layout: fixed;
}

td {
    height: 35px;
    width: 35px;
    text-align: center;
    margin: 8px;
}

.smiley {
    position: absolute; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.time-passed 
{
    position: absolute; 
}
